<h1>Article Details</h1>

<p>
  Title: <%= @article.title%>
</p>

<p>
Description: <%= @article.description%>
</p>

<%= link_to "List articles", articles_path %>

<%= link_to "Edit", edit_article_path(@article) %>